.card {
  background-color: var(--primary-color);
  width: 30%;
  height: 20rem;
  border-radius: 3rem;
  text-align: center;
  padding: 1rem;
  color: #ffffff;
}
.card-location {
  font-size: 1.3rem;
}
.card-title {
  font-size: 1.6rem;
}
.card-date {
  font-size: 1.2rem;
  font-weight: 600;
  width: 60%;
  padding: 0.5rem;
  margin: 0 auto;
  border-radius: 1rem;
  background-color: #ffffff40;
}
.card-description {
  font-size: 1.2rem;
}
.card-button {
  background-color: #ffffff;
  color: var(--primary-color);
  width: 30%;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.5rem;
}
.card-button:hover {
  background-color: var(--hover-color);
  color: var(--text-alternat-color);
}
